.cutee{
    border-radius: 50%;
    border-top: 30px;
    height: 150px;
    width: 150px;
    
}
.beach{
    height: 500px;
    width: 4000px;
}
.body{
    display: grid;
    justify-content: center;
    align-items:center;
    align-content: center;
    border: 5px solid black;
    padding: 0;
    margin: 0;
    font-family: arial,sans-serif;
}
.cat{
    height: 200px;
    width: 200px;
    float: left;
}
h2{
    color:aqua;
}
.watching{
    height: 150px;
    width: 150px;
    float: left;
}
.cooking{
    height: 150px;
    width: 150px;
    float: left;
}
.contact{
    color:aqua
}
footer{
    background-color: white;
    padding: 100px;
    text-align: center;
}
.contact{
    text-align: center;
}